.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.homepage-link {
  text-decoration: none;
  color: black;
}

.submit-button {
  display: flex;
  justify-content: center;
}

.username-input input {
  width: 100%;
}

.password-input input {
  width: 100%;
}

.email-input input {
  width: 100%;
}